:root{
    --border: 1px solid hsl(0, 100%, 49%);
    --teal: #38abab;
    --darker-teal: #338d8d;
}

*, *::after, *::before{
    box-sizing: border-box;
}

body{
    position: relative;
    margin: 0 auto;
    padding: 0;
    font-family: 'Epilogue', sans-serif;
    font-size: 0.625rem;
    min-width: 100px;
    /* width: 600px; */
    /* border: var(--border); */
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
    color: white;
}

/* NAVBAR */
nav{
    position: relative;
    padding: 0 1.3rem;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.leftnav{
    display: flex;
    align-items: center;
}

.leftnav img:hover{
    cursor: pointer;
}

.rightnav{
    width: 100%;
    position: absolute;
    background-color: var(--teal);
    right: 0;
    left: 0;
    z-index: 4;
    top: 70px;
    display: none;
    font-size: 1.6em;
}

.rightnav-drop{
    display: block;
}

.rightnav > ul{
    text-align: center;
    padding: 0;
    list-style: none;
}

.rightnav li{
    margin: 1.2rem 0;
}

.rightnav a{
    padding: 3px;
    text-decoration: none;
    color: white;
}

.rightnav li > a:hover, .rightnav li > a:focus{
    border-bottom: 3px solid white;
    transition: all 0.1s;
}

/* nav product item */
.product-items{
    display: none;
}

/* nav ham-menu */
.ham-button{
    display: flex;
    align-items: center;
}

.ham-button button{
    font-size: 1.5rem;
    background-color: transparent;
    border: 0;
    color: black;
}

.ham-button button:hover, .ham-button button:focus{
    cursor: pointer;
    color: var(--teal);
    transition: all 0.2s;
}

/* FORM SECTION */
h1{
    color: black;
    font-size: 2.6em;
    margin: 3.5rem 0;
    text-align: center;
}

section{
    padding: 0 2rem;
    max-width: 700px;
    margin: 0 auto;
}

form{
    display: flex;
    flex-direction: column;
}

input{
    /* width: 100%; */
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    padding: 10px;
    font-size: 1rem;
    z-index: -1;
}

input[type=radio]{
    transform: scale(1.2);
}

input:not(#male, #female), select{
    width: 100%;
}

.gender-field label:not(.gender-label){
    font-size: 1.3em;
}

.field{
    margin-bottom: 3rem;
    position: relative;
}

.email-field, .gender-field{
    margin-bottom: 1.5rem;
}

.city-field{
    margin-bottom: 2rem;
}

label:not(.city-label, .gender-field > label){
    /* display: none; */
    position: absolute;
    font-size: 1.2em;
    left: 0;
    top: -17px;
    color: var(--teal);
    transition: all 0.2s;
    display: none;
}

input:focus + label:not(.male-label, .female-label){
    display: block;
}

input:focus:not(type=radio) + label{
    display: block;
}

.male-label{
    margin-right: 10px;
}


.city-label, .gender-label{
    display: block;
    padding-bottom: 0.5rem;
    font-size: 1.6em;
}

.city-field select{
    padding: 7px 10px;
    font-size: 1.5em;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.register{
    font-size: 1rem;
    padding: 15px 0;
    width: 50%;
    margin: 1.4rem auto 6rem auto;
    background-color: var(--teal);
    color: white;
    border: none;
    border-radius: 3px;
}

.register:hover, .register:active, .register:focus{
    cursor: pointer;
    background-color: white;
    color: var(--teal);
    outline: 1px solid rgba(77, 77, 77, 0.3);
    transition: all 0.2s;
}

.error{
    color: red;
    font-size: 1.3em;
    margin-top: 4px;
}

input:valid .error{
    display: none;
}

/* black overlay / darken */
/* .darken{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.2s;
} 

.input-darken{
    filter: brightness(0.5);
} */

/* .ham-button:active ~ section .field input{
    background-color: transparent;
    border: transparent;
}

/* MEDIA QUERY */

@media screen and (min-width: 450px) {
    section{
        padding: 0 3rem;
    }
}

@media screen and (min-width: 601px) {
    body{
        width: 100%;
    }

    /* NAVBAR */
    .rightnav{
        background-color: transparent;
        display: flex;
        align-items: center;
        position: relative;
        width: fit-content;
        top: 0;
        font-size: 1em;
    }

    .rightnav > ul{
        display: flex;
    }

    .rightnav a{
        color: black;
        font-size: 1.28em;
        margin: 0 0.4rem;
    }
    
    .rightnav li > a:hover, .rightnav li > a:focus{
        outline: none;
        border-bottom: 3px solid var(--teal);
        transition: all 0.1s;
    }

    .products:hover{
        border: 0 transparent;
    }

    .products{
        position: relative;
    }

    /* product items */
    .product-items{
        padding: 0;
        text-align: start;
        display: none;
        position: absolute;
        top: 20px;
        left: -5px;
        padding: 5px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 2px 3px 3px 2px rgba(0, 0, 0, 0.2);
    }

    .product-items > li{
        list-style: none;
        margin: 0.6rem 0;
    }

    .products:hover ul{
        display: block;
    }

    .product-items li > a:hover{
        border-bottom: 0;
        color: var(--teal);
        transition: all 0.2s;
    }

    .rightnav a.login{
        color: white;
        padding: 0.7rem 1.4rem;
        border-radius: 20px;
        background-color: var(--teal);
        border-bottom: 0;
    }
    
    .rightnav a.login:hover, .rightnav a.login:focus{
        border: 0;
        box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.2);
        background-color: var(--darker-teal);
    }

    .ham-button{
        display: none;
    }

    /* SECTION */
    section{
        padding: 0 5rem;
    }
}

@media screen and (min-width: 800px) {
    .rightnav ul li > a{
        font-size: 1.6em;
        margin: 0 1rem;
    }

    .product-items >li {
        /* padding: 10px; */
        margin: 1.3rem 0;
    }

    h1{
        font-weight:lighter;
    }

    /* SECTION */
    section{
        padding: 0 6rem;
    }
}

@media screen and (min-width: 1024px) {
    h1{
        font-size: 3.4em;
    }
}

@media screen and (min-width: 1920px) {
    h1{
        font-size: 3.8em;
    }
}
